<div class="w-full min-h-screen menu bg-base-300 p-0 [&_li>*]:rounded-none border-r border-primary">
    <ul>
        <li class="mx-2 font-extrabold"><a routerLink="/dashboard" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">Dashboard <div class="badge badge-warning badge-xs">WIP 2</div></a></li>
        <li class="mx-2 border-y border-primary">
            <details #detailsMenu>
                <summary class="rounded-none font-extrabold">Menus</summary>
                <ul class="[&_li>*]:rounded-none">
                    <li>
                        <h2 class="menu-title">Navbar</h2>
                        <ul>
                            <li class="font-semibold"><a routerLink="/navbar/list" routerLinkActive="activebutton">List navbar</a></li>
                            <li class="font-semibold"><a routerLink="/navbar/add" routerLinkActive="activebutton">Add navbar</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="menu-title">Sidebar</h2>
                        <ul>
                            <li class="font-semibold"><a routerLink="/sidebar/list" routerLinkActive="activebutton">List sidebar</a></li>
                            <li class="font-semibold"><a routerLink="/sidebar/add" routerLinkActive="activebutton">Add sidebar</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="menu-title">Footer</h2>
                        <ul>
                            <li class="font-semibold"><a routerLink="/footer/list" routerLinkActive="activebutton">List footer</a></li>
                            <li class="font-semibold"><a routerLink="/footer/add" routerLinkActive="activebutton">Add footer</a></li>
                        </ul>
                    </li>
                </ul>
            </details>
        </li>
        <li class="mx-2">
            <details #detailsContent>
                <summary class="rounded-none font-extrabold">Content</summary>
                <ul class="[&_li>*]:rounded-none">
                    <li class="font-semibold"><a routerLink="/page/list" routerLinkActive="activebutton">List pages</a></li>
                    <li class="font-semibold"><a routerLink="/page/add" routerLinkActive="activebutton">Add page</a></li>
                </ul>
            </details>
        </li>
        <li class="mx-2 border-y border-primary">
            <details #detailsDesign>
                <summary class="rounded-none font-extrabold">Design <div class="badge badge-ghost badge-xs">WIP 3</div></summary>
                <ul class="[&_li>*]:rounded-none">
                    <li class="font-semibold"><a routerLink="/theme/list" routerLinkActive="activebutton">List themes <div class="badge badge-ghost badge-xs">WIP 3</div></a></li>
                    <li class="font-semibold"><a routerLink="/theme/add" routerLinkActive="activebutton">Add theme <div class="badge badge-ghost badge-xs">WIP 3</div></a></li>
                </ul>
            </details>
        </li>
        <li class="mx-2">
            <details #detailsAccount>
                <summary class="rounded-none font-extrabold">Accounts <div class="badge badge-ghost badge-xs">WIP 4</div></summary>
                <ul class="[&_li>*]:rounded-none">
                    <li class="font-semibold"><a routerLink="/account/list" routerLinkActive="activebutton">List accounts <div class="badge badge-ghost badge-xs">WIP 3</div></a></li>
                    <li class="font-semibold"><a routerLink="/account/add" routerLinkActive="activebutton">Add account <div class="badge badge-ghost badge-xs">WIP 3</div></a></li>
                </ul>
            </details>
        </li>
        <li class="mx-2 border-y border-primary">
            <details #detailsSystem>
                <summary class="rounded-none font-extrabold">System <div class="badge badge-ghost badge-xs">WIP 3</div></summary>
                <ul class="[&_li>*]:rounded-none">
                    <li class="font-semibold"><a routerLink="/system/settings" routerLinkActive="activebutton">Settings</a></li>
                    @if(isSuperAdmin === 'true')
                    {
                        <li class="font-semibold"><a routerLink="/system/admin/list" routerLinkActive="activebutton">Admin Accounts</a></li>
                    }
                    <li class="font-semibold"><a routerLink="/system/components" routerLinkActive="activebutton">Components  <div class="badge badge-ghost badge-xs">WIP 3</div></a></li>
                    <li class="font-semibold"><a href="{{docAPIUrl}}" target="_blank">Docs API</a></li>
                </ul>
            </details>
        </li>
    </ul>
</div>