<div class="grid grid-cols-5 md:grid-cols-4 gap-4 place-items-end p-3 bg-base-200">
    <div class="col-end-6 md:col-end-5">
        <a class="btn mx-1 btn-neutral" routerLink="/sidebar/list">
            Back
        </a>
    </div>
</div>

<div class="grid grid-cols-5 gap-4 place-items-center p-3 bg-base-200">
    <label class="form-control w-full max-w-xs">
        <div class="label">
            <span class="label-text font-semibold">Name</span>
        </div>
        <span class="">{{sidebarNameValue}}</span>
        <div class="label">
            <span class="label-text-alt font-light">This name will not be show on your front office</span>
        </div>
    </label>
</div>

<div class="grid grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <ul class="menu bg-base-100 w-56 rounded-box">
        @for (item of items; track $index) {
            @if(item.inParent === false && item.parent === false && item.inSubParent === false && item.subParent === false){
                <li class="indicator">
                    <a routerLink="{{item.url}}" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
                </li>
            }


            @if(item.parent === true){
                <li class="indicator">
                    <details open>
                        <summary>
                            {{item.name}}
                        </summary>
                        <ul>
                            @for (itemChildren of item.children; track $index) {
                                @if(itemChildren.parentName != '' && itemChildren.parent === false && itemChildren.inParent === true && itemChildren.subParent === false){
                                    <li>
                                        <a routerLink="{{itemChildren.url}}" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">{{itemChildren.name}}</a>
                                    </li>
                                }
                            
                                @if(itemChildren.subParentName != '' && itemChildren.parent === false && itemChildren.inParent === true && itemChildren.subParent === true){
                                        <li class="indicator">
                                            <details open>
                                                <summary>
                                                    {{itemChildren.name}}
                                                </summary>
                                                <ul>
                                                    @for (itemFromSubParent of itemChildren.children; track $index) {
                                                        @if(itemFromSubParent.parent === false  && itemFromSubParent.subParentName != '' && itemFromSubParent.subParent === false){
                                                            <li>
                                                                <a routerLink="{{itemFromSubParent.url}}" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">{{itemFromSubParent.name}}</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </details>
                                        </li>
                                }
                            }
                        </ul>
                    </details>
                </li>
            }
        }
    </ul>
</div>

<div class="grid grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <a routerLink="/sidebar/list" class="btn btn-success">
        Quit
    </a>
</div>