<div class="grid grid-cols-5 md:grid-cols-4 gap-4 place-items-end p-3 bg-base-200">
    <div class="col-end-6 md:col-end-5">
        <a class="btn mx-1 btn-neutral" routerLink="/sidebar/list">
            Back
        </a>
    </div>
</div>

<div [formGroup]="addSidebarFormGroup" class="grid grid-cols-5 gap-4 place-items-center p-3 bg-base-200">
    <label class="form-control w-full max-w-xs">
        <div class="label">
            <span class="label-text font-semibold">Name</span>
        </div>
        <input type="text" name="sidebarName" formControlName="sidebarNameInput" #sidebarName placeholder="Type here" class="{{ sidebarNameInput?.invalid && (sidebarNameInput?.dirty || sidebarNameInput?.touched) ? 'input-error' : '' }} input input-bordered w-full max-w-xs" />

        @if(sidebarNameInput?.invalid && (sidebarNameInput?.dirty || sidebarNameInput?.touched)){
            @if(sidebarNameInput?.errors?.['required']){
                <div class="label">
                    <span class="label-text-alt text-error">Sidebar name is required.</span>
                </div>
            }
        }
    </label>
</div>

<div class="grid grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <button class="btn mx-1 btn-primary" (click)="showItemHtml()">Add item</button>
        <button class="btn mx-1 btn-primary" (click)="showParentItemHtml()">Add parent item</button>
        <button class="btn mx-1 btn-primary" (click)="showSubParentItemHtml()">Add sub parent item</button>
    </div>
</div>

<!-- Add Item -->
<div #addItemBlock class="hidden grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <form [formGroup]="addItemForm" (ngSubmit)="addItem()">
            <select id="parent" formControlName="parent" class="select select-md select-bordered max-w-xs mx-1" #myParentAddItem>
                <option selected value="">No parent</option>
                @for(item of items; track $index){
                    @if(item.parent === true){
                        <option>{{item.name}}</option>
                    }
                }
            </select>
            <select id="subParent" formControlName="subParent" class="select select-md select-bordered max-w-xs mx-1">
                <option selected value="">No Sub parent</option>
                @for (item of items; track $index) {
                    @for(itemSubParent of items[$index].children; track $index){
                        @if(itemSubParent.subParent === true && itemSubParent.parentName == myParentAddItem.value){
                            <option>{{itemSubParent.name}}</option>
                        }
                    }
                }
            </select>

            <input type="text" id="name" formControlName="name" placeholder="Item name" class="{{ nameItem?.invalid && (nameItem?.dirty || nameItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <input type="text" id="url" formControlName="url" placeholder="Item url" class="{{ urlItem?.invalid && (urlItem?.dirty || urlItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <button class="btn mx-1 btn-primary btn-md" type="submit">Ok</button>
            <a class="btn mx-1 btn-primary btn-md" (click)="hideItemHtml()">Cancel</a>

            @if(nameItem?.invalid && (nameItem?.dirty || nameItem?.touched) || urlItem?.invalid && (urlItem?.dirty || urlItem?.touched)){
                @if(nameItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Name is required.</span>
                    </div>
                }

                @if(urlItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Url is required.</span>
                    </div>
                }
            }
        </form>
    </div>
</div>

<!-- Edit Item -->
<div #editItemBlock class="hidden grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <form [formGroup]="editItemForm" (ngSubmit)="editItem(editItemId)">
            <select id="parent" formControlName="parent" class="select select-md select-bordered max-w-xs mx-1" #myParentEditItem>
                <option selected value="">No parent</option>
                @for(item of items; track $index){
                    @if(item.parent === true && editParentItemName === item.parentName){
                        <option selected>{{item.name}}</option>
                    }
                    @else if(item.parent === true) {
                        <option>{{item.name}}</option>
                    }
                }
            </select>
            
            <select id="subParent" formControlName="subParent" class="select select-md select-bordered max-w-xs mx-1">
                <option selected value="">No Sub parent</option>
                @if(parent){
                    @for (item of items; track $index) {
                        @for(itemSubParent of items[$index].children; track $index){
                            @if(itemSubParent.subParent === true && editSubParentItemName === itemSubParent.subParentName && itemSubParent.parentName == myParentEditItem.value){
                                <option selected>{{itemSubParent.name}}</option>
                            }
                            @else if(itemSubParent.parent === true && itemSubParent.parentName == myParentEditItem.value) {
                                <option>{{itemSubParent.name}}</option>
                            }
                        }
                    }
                }
            </select>

            <input type="text" value="{{editItemName}}" id="name" formControlName="name" placeholder="Item name" class="{{ nameEditItem?.invalid && (nameEditItem?.dirty || nameEditItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <input type="text" value="{{editItemUrl}}" id="url" formControlName="url" placeholder="Item url" class="{{ urlEditItem?.invalid && (urlEditItem?.dirty || urlEditItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <button class="btn mx-1 btn-primary btn-md" type="submit">Edit</button>
            <a class="btn mx-1 btn-primary btn-md" (click)="hideEditItemHtml()">Cancel</a>

            @if(nameEditItem?.invalid && (nameEditItem?.dirty || nameEditItem?.touched) || urlEditItem?.invalid && (urlEditItem?.dirty || urlEditItem?.touched)){
                @if(nameEditItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Name is required.</span>
                    </div>
                }

                @if(urlEditItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Url is required.</span>
                    </div>
                }
            }
        </form>
    </div>
</div>

<!-- Add Parent Item -->
<div #addParentItemBlock class="hidden grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <form [formGroup]="addParentForm" (ngSubmit)="addParentItem()">
            <input type="text" id="name" formControlName="name" placeholder="Parent item name" class="{{ nameParentItem?.invalid && (nameParentItem?.dirty || nameParentItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <button class="btn mx-1 btn-primary btn-md" type="submit">Ok</button>
            <a class="btn mx-1 btn-primary btn-md" (click)="hideParentItemHtml()">Cancel</a>

            @if(nameParentItem?.invalid && (nameParentItem?.dirty || nameParentItem?.touched)){
                @if(nameParentItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Parent name is required.</span>
                    </div>
                }
            }
        </form>
    </div>
</div>

<!-- Edit Parent Item -->
<div #editParentItemBlock class="hidden grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <form [formGroup]="editParentForm" (ngSubmit)="editParentItem(editParentItemId)">
            <input type="text" value="{{editParentName}}" id="name" formControlName="name" placeholder="Parent item name" class="{{ nameEditParentItem?.invalid && (nameEditParentItem?.dirty || nameEditParentItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <button class="btn mx-1 btn-primary btn-md" type="submit">Ok</button>
            <a class="btn mx-1 btn-primary btn-md" (click)="hideEditParentItemHtml()">Cancel</a>

            @if(nameEditParentItem?.invalid && (nameEditParentItem?.dirty || nameEditParentItem?.touched)){
                @if(nameEditParentItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Parent name is required.</span>
                    </div>
                }
            }
        </form>
    </div>
</div>

<!-- Add Sub Parent Item -->
<div #addSubParentItemBlock class="hidden grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <form [formGroup]="addSubParentForm" (ngSubmit)="addSubParentItem()">
            <select id="parent" formControlName="parent" class="{{ nameParentFromSubParentItem?.invalid && (nameParentFromSubParentItem?.dirty || nameParentFromSubParentItem?.touched) ? 'input-error' : '' }} select select-md select-bordered max-w-xs mx-1">
                <option selected value="">No parent</option>
                @for(item of items; track $index){
                    @if(item.parent === true && editParentItemName === item.parentName){
                        <option selected>{{item.name}}</option>
                    }
                    @else if(item.parent === true) {
                        <option>{{item.name}}</option>
                    }
                }
            </select>

            <input type="text" id="name" formControlName="name" placeholder="Sub Parent item name" class="{{ nameSubParentItem?.invalid && (nameSubParentItem?.dirty || nameSubParentItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <button class="btn mx-1 btn-primary btn-md" type="submit">Ok</button>
            <a class="btn mx-1 btn-primary btn-md" (click)="hideSubParentItemHtml()">Cancel</a>

            @if(nameParentFromSubParentItem?.invalid && (nameParentFromSubParentItem?.dirty || nameParentFromSubParentItem?.touched)){
                @if(nameParentFromSubParentItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Parent is required.</span>
                    </div>
                }
            }

            @if(nameSubParentItem?.invalid && (nameSubParentItem?.dirty || nameSubParentItem?.touched)){
                @if(nameSubParentItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Sub parent name is required.</span>
                    </div>
                }
            }
        </form>
    </div>
</div>

<!-- Edit Sub Parent Item -->
<div #editSubParentItemBlock class="hidden grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <div>
        <form [formGroup]="editSubParentForm" (ngSubmit)="editSubParentItem(editParentItemId)">
            <select id="parent" formControlName="parent" class="{{ nameEditParentFromSubParentItem?.invalid && (nameEditParentFromSubParentItem?.dirty || nameEditParentFromSubParentItem?.touched) ? 'input-error' : '' }} select select-md select-bordered max-w-xs mx-1">
                <option selected value="">No parent</option>
                @for(item of items; track $index){
                    actual parent : {{editSubParentNameFirst}} list parent :  {{item.parentName}}
                    @if(item.parent === true && editSubParentNameFirst === item.parentName){
                        <option selected>{{item.name}}</option>
                    }
                    @else if(item.parent === true) {
                        <option>{{item.name}}</option>
                    }
                }
            </select>

            <input type="text" value="{{editSubParentName}}" id="name" formControlName="name" placeholder="Sub Parent item name" class="{{ nameEditSubParentItem?.invalid && (nameEditSubParentItem?.dirty || nameEditSubParentItem?.touched) ? 'input-error' : '' }} input input-md input-bordered max-w-xs mx-1" />

            <button class="btn mx-1 btn-primary btn-md" type="submit">Ok</button>
            <a class="btn mx-1 btn-primary btn-md" (click)="hideEditSubParentItemHtml()">Cancel</a>

            @if(nameEditParentFromSubParentItem?.invalid && (nameEditParentFromSubParentItem?.dirty || nameEditParentFromSubParentItem?.touched)){
                @if(nameEditParentFromSubParentItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Parent is required.</span>
                    </div>
                }
            }

            @if(nameEditSubParentItem?.invalid && (nameEditSubParentItem?.dirty || nameEditSubParentItem?.touched)){
                @if(nameEditSubParentItem?.errors?.['required']){
                    <div class="label">
                        <span class="label-text-alt text-error">Sub parent name is required.</span>
                    </div>
                }
            }
        </form>
    </div>
</div>

<div class="grid grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    <ul class="menu bg-base-100 w-56 rounded-box" cdkDropList [cdkDropListData]="items" cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
        @for (item of items; track $index) {
            @if(item.inParent === false && item.parent === false && item.inSubParent === false && item.subParent === false){
                <li class="indicator" cdkDrag cdkDragLockAxis="y">
                    <a routerLink="{{item.url}}" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>

                    <span (click)="showEditItemHtml(item)" class="indicator-item right-6 p-1 badge badge-warning"><fa-icon [icon]="faPencil" class="fa-xs leading-lg"></fa-icon></span>
                    <span (click)="deleteItem(item.id)" class="indicator-item p-1 badge badge-error"><fa-icon [icon]="faTrash" class="fa-xs leading-lg"></fa-icon></span>
                </li>
            }


            @if(item.parent === true){
                <li class="indicator" cdkDrag cdkDragLockAxis="y">
                    <details open>
                        <summary>
                            {{item.name}}
                        </summary>
                        <ul cdkDropList [cdkDropListData]="item.children" cdkDropListOrientation="vertical" (cdkDropListDropped)="dropChild($event, item)">
                            @for (itemChildren of item.children; track $index) {
                                @if(itemChildren.parentName != '' && itemChildren.parent === false && itemChildren.inParent === true && itemChildren.subParent === false){
                                    <li cdkDrag cdkDragLockAxis="y">
                                        <a routerLink="{{itemChildren.url}}" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">{{itemChildren.name}}</a>

                                        <span (click)="showEditItemHtml(itemChildren)" class="indicator-item right-6 p-1 badge badge-warning"><fa-icon [icon]="faPencil" class="fa-xs leading-lg"></fa-icon></span>
                                        <span (click)="deleteItem(itemChildren.id)" class="indicator-item p-1 badge badge-error"><fa-icon [icon]="faTrash" class="fa-xs leading-lg"></fa-icon></span>
                                    </li>
                                }
                            
                                @if(itemChildren.subParentName != '' && itemChildren.parent === false && itemChildren.inParent === true && itemChildren.subParent === true){
                                        <li class="indicator" cdkDrag cdkDragLockAxis="y">
                                            <details open>
                                                <summary>
                                                    {{itemChildren.name}}
                                                </summary>
                                                <ul cdkDropList [cdkDropListData]="itemChildren.children" cdkDropListOrientation="vertical" (cdkDropListDropped)="dropSubChild($event, item)">
                                                    @for (itemFromSubParent of itemChildren.children; track $index) {
                                                        @if(itemFromSubParent.parent === false  && itemFromSubParent.subParentName != '' && itemFromSubParent.subParent === false){
                                                            <li cdkDrag cdkDragLockAxis="y">
                                                                <a routerLink="{{itemFromSubParent.url}}" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact: true}">{{itemFromSubParent.name}}</a>
                        
                                                                <span (click)="showEditItemHtml(itemFromSubParent)" class="indicator-item right-6 p-1 badge badge-warning"><fa-icon [icon]="faPencil" class="fa-xs leading-lg"></fa-icon></span>
                                                                <span (click)="deleteItem(itemFromSubParent.id)" class="indicator-item p-1 badge badge-error"><fa-icon [icon]="faTrash" class="fa-xs leading-lg"></fa-icon></span>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </details>

                                            <span (click)="showEditSubParentItemHtml(itemChildren)" class="indicator-item right-6 p-1 badge badge-warning"><fa-icon [icon]="faPencil" class="fa-xs leading-lg"></fa-icon></span>
                                            <span (click)="deleteItem(itemChildren.id)" class="indicator-item p-1 badge badge-error"><fa-icon [icon]="faTrash" class="fa-xs leading-lg"></fa-icon></span>
                                        </li>
                                }
                            }
                        </ul>
                    </details>

                    <span (click)="showEditParentItemHtml(item)" class="indicator-item right-6 p-1 badge badge-warning"><fa-icon [icon]="faPencil" class="fa-xs leading-lg"></fa-icon></span>
                    <span (click)="deleteItem(item.id)" class="indicator-item p-1 badge badge-error"><fa-icon [icon]="faTrash" class="fa-xs leading-lg"></fa-icon></span>
                </li>
            }
        }
    </ul>
</div>


<div class="grid grid-cols-1 gap-4 place-items-center p-3 bg-base-200">
    @if(sidebarNameInput?.invalid && (sidebarNameInput?.dirty || sidebarNameInput?.touched)){
        <a class="btn btn-success" disabled>
            Confirm
        </a>
    }@else {
        <a (click)="addSidebarForm()" class="btn btn-success">
            Confirm
        </a>
    }
</div>