<header>
    <nav class="drawer z-10">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <div class="w-full navbar bg-base-300">
                <div class="flex-none lg:hidden">
                    <label
                        for="my-drawer-3"
                        aria-label="open sidebar"
                        class="btn btn-square btn-ghost"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            class="inline-block w-6 h-6 stroke-current"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            ></path>
                        </svg>
                    </label>
                </div>
                <div class="flex-1 px-2 mx-2">{{ appName }}</div>
                <div class="flex-none hidden lg:block">
                    <ul class="menu menu-horizontal">
                        @for (item of items; track $index) { @if(item.parentName
                        === '' && item.parent === false){
                        <li class="indicator">
                            <a
                                routerLink="{{ item.url }}"
                                routerLinkActive="activebutton"
                                [routerLinkActiveOptions]="{ exact: true }"
                                >{{ item.name }}</a
                            >
                        </li>
                        } @if(item.parent === true){
                        <li class="indicator">
                            <details>
                                <summary>
                                    {{ item.name }}
                                </summary>
                                <ul class="p-2 bg-base-100 rounded-t-none">
                                    @for (itemParent of items; track $index) {
                                    @if(itemParent.parentName != '' &&
                                    itemParent.parent === false){
                                    <li>
                                        <a
                                            routerLink="{{ itemParent.url }}"
                                            routerLinkActive="activebutton"
                                            [routerLinkActiveOptions]="{
                                                exact: true
                                            }"
                                            >{{ itemParent.name }}</a
                                        >
                                    </li>
                                    } }
                                </ul>
                            </details>
                        </li>
                        } }
                    </ul>
                </div>
            </div>
        </div>
        <div class="drawer-side">
            <label
                for="my-drawer-3"
                aria-label="close sidebar"
                class="drawer-overlay"
            ></label>
            <ul class="menu p-4 w-80 min-h-full bg-base-200">
                @for (item of items; track $index) { @if(item.parentName === ''
                && item.parent === false){
                <li class="indicator">
                    <a
                        routerLink="{{ item.url }}"
                        routerLinkActive="activebutton"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >{{ item.name }}</a
                    >
                </li>
                } @if(item.parent === true){
                <li class="indicator">
                    <details>
                        <summary>
                            {{ item.name }}
                        </summary>
                        <ul class="p-2 bg-base-100 rounded-t-none">
                            @for (itemParent of items; track $index) {
                            @if(itemParent.parentName != '' && itemParent.parent
                            === false){
                            <li>
                                <a
                                    routerLink="{{ itemParent.url }}"
                                    routerLinkActive="activebutton"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                    >{{ itemParent.name }}</a
                                >
                            </li>
                            } }
                        </ul>
                    </details>
                </li>
                } }
            </ul>
        </div>
    </nav>
</header>
