.table :where(thead, tbody) :where(tr:not(:last-child)),
.table :where(thead, tbody) :where(tr:first-child:last-child) {
    border-bottom-color: var(
        --fallback-bc,
        oklch(var(--bc) / var(--tw-border-opacity))
    ) !important;
    --tw-border-opacity: 0.1 !important;
}
.indicator {
    display: block !important;
}
