<!-- 
    breadcrumbs
    Add Lvl with <li> tag
    Max lvl is 3
    Check if every lvl got true (show) or false (hide)
-->
<div class="grid grid-cols-1">
    <div class="text-sm breadcrumbs">
        <ul>
            <li class="font-bold">{{ LevelOneValue }}</li>
            <ng-container *ngIf="numberLevel >= 2">
                <li class="font-bold">{{ LevelTwoValue }}</li>
            </ng-container>
            <ng-container *ngIf="numberLevel >= 3">
                <li class="font-bold">{{ LevelThreeValue }}</li>
            </ng-container>
        </ul>
    </div>
</div>
